

.card-top{
position: relative;
display: flex;
flex-direction: column;
border: 2px solid rgb(225, 240, 240);
border-radius: .25rem;
min-width: 0px;
word-wrap:break-word;
background: #fff;
background-clip: border-box;


}
.item img{
    width: 64px;
}
.item{
    margin: 0 15px;
    text-align: center;
}
.item a{
    text-decoration: none;
    color: black;
 }
 .item a:hover{
    color:rgb(88, 121, 230) ;
 }
.card{
    padding: 15px;
    margin: 50px;
   
}
 .card img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: .3s ease-in-out;
 }

 .card img:hover{
    transition: .3s ease-in-out;
    transform: scale(1.1);
 }
 .btnclr{
    background-color: #76d8db;
 }