
<div class="container-fluid">
<header>
    <div class="navbar shadow-sm">

        <div class="navbar-brand align-item-center d-flex">
            <i  style="font-size:40px" class="fas fa-shipping-fast"></i> &nbsp;
            <strong style="font-size: 30px;">Shopping Mall</strong>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search Products">
                
            </div>
            <!-- <span class="fas fa-search search-icon"></span> -->
        </div>
        <button routerLink="cart" class="btn ">
            <i style="font-size: 40px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>

        <button  class="btn " routerLink="login">
            <i style="font-size: 35px;" class="fa fa-user"></i>
        </button>


    </div>

</header>
</div>
<!-- <app-products></app-products> -->